layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
	    	color_main   "#f9e2af" 
	    	color_info   "#b1b1ba" 
	    	color_hint   "#666c76" 

		format_left  "#[fg=$main]{mode}"
		format_right "{tabs} #[fg=$info]{session}"
                format_space ""
                hide_frame_for_single_pane "true"

                mode_normal  "{name} #[fg=$hint]g-Lock p-Pane t-Tab n-Resize e-Move s-Scroll o-Session"
                mode_pane    "{name} #[fg=$hint]e-Embed d-Down (a/n-New r-Rename x-Close Float: an-New af-Float)"
                mode_tab     "{name} #[fg=$hint]b-Break (a/n-New r-Rename x-Close)"
                mode_resize  "{name} #[fg=$hint]"
                mode_move    "{name} #[fg=$hint]"
                mode_scroll  "{name} #[fg=$hint]s-Search d/u-Scroll"
                mode_session "{name} #[fg=$hint]w-Manage c-Config p-Plugin a-About (d-Detach)"
                mode_locked  "#[fg=#f38ba8]{name}"

                tab_normal   " #[fg=#585b70]{name}"
                tab_active   " #[fg=#89dceb]{name}"
            }
        }
    }
}
