* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, Noto Sans CJK;
    font-weight: bold;
    min-height: 0;
    font-size: 15px;
}

/* Total */
window#waybar {
    background: transparent;
}
tooltip {
    background: alpha(@theme_bg_color, 0.8);
    border-radius: 10px;
}

/* Left & right part */
.modules-left, .modules-right {
  background: alpha(@theme_bg_color, 0.6);
  border-radius: 8px;
  padding: 0 10px;
  color: @theme_fg_color;
}

/* Icons */
#clock,
#battery,
#pulseaudio,
#network,
/* #bluetooth, */
/* #temperature, */
#tray,
#backlight,
#cpu,
#custom-notification {
    padding: 0px 6px;
}

/* Clock */
#clock {
  color: @BANANA_500;
}

/* Workspaces indicator */
#workspaces {
  margin-left: 5px;
}
#workspaces button {
    transition: .3s;
    margin: 4px 0;
    padding: 0 5px;
    outline: none;
    border-radius: 5px;
    color: @insensitive_fg_color;
}
#workspaces button.active {
    color: @theme_fg_color;
}
#workspaces button:hover {
    background: alpha(@theme_selected_bg_color, 0.4);
    color: @theme_selected_fg_color;
}

#window {
  color: @theme_text_color;
  padding: 0 100px;
  text-shadow: 0px 0px 8px #000000;
}

/* #tray {
} */

/* #temperature.critical {
color: #eba0ac;
} */

#network {
    color: @ORANGE_100;
}

/* #bluetooth {
    color: @blue_color;
}  */

#pulseaudio {
    color: @STRAWBERRY_100;
}

#backlight {
  color: @BLUEBERRY_100;
  margin-right: 7px;
}

/* #pulseaudio.microphone {
    color: @purple_color;
} */

#battery {
    color: @LIME_100;
}

/* #cpu {
    color: @red_color;
} */
